$dark-blue: #171d67;
$light-blue: #45c8fc;
$purple: #712fcb;

header{
    opacity: 0;
    transition: 0.2s ease;
    background-color: $dark-blue;
    position: fixed;
    width: 100%;
    .inner{
        position: relative;
        display: flex;
    }
    .huff-logo{
        width: 40px;
        position: absolute;
        right: 16px;
        top: 15px;
        img{
            width: 100%;
        }
    }
    .title{
        font-size: 25px;
        font-weight: 900;
        margin: 0 0 0 30px;
        line-height: 75px;
        color: #fff;
        h1{
            font-family: 'Montserrat', sans-serif;
        }
    }
    .logo{
        height: 32px;
        transform: translateY(61%);
        margin-left: 15px;
    }
}
main{
    margin-bottom: 6rem;
}
.head{
    background-color: $dark-blue;
    text-align: center;
    color: #fff;
    .inner{
        position: relative;
        padding: 0 3em 3em;
    }
    svg {
        width: 200px;
        height: 100px;
    }
    .huff-logo{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 34px;
        right: 34px;
        img{
            width: 100%;
        }
    }
    .sub-logo{
        padding: 30px 0;
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 900;
    }
    .title{
        font-size: 65px;
        font-weight: 900;
        margin: 0 0 30px 0;
        line-height: 75px;
        h1{
            font-family: 'Montserrat', sans-serif;
        }
    }
    .sub-title{
        font-size: 27px;
        font-family: 'Asar', serif;
        margin: 0 0 30px 0;
        font-style: italic;
    }
    .editor{
        font-weight: 900;
        margin: 0 0 5px 0;
    }
}

.body{
    width: 60%;
    margin: 0 auto;
    .main-pic{
        width: 100%;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .pic-text{
        margin: 1rem 0;
    }
    .contents{
        p{
            margin: 20px 0;
            font-family: 'Asar', serif;
            font-size: 20px;
            line-height: 28px;
            font-weight: 100;
            letter-spacing: 0.1px;
        }
    }
}

footer{
    background-color: $purple;
    li{
        width: 100%;
    }
    ul{
        display: flex;
        flex-flow: row wrap;
        height: 200px;
    }
    .inner{
        padding: 4em 8em 0;
        display: flex;
        flex-flow: row wrap;
    }
    .logo{
        width: 20%;
    }
    .left, .right{
        width: 40%;
        display: flex;
        flex-flow: row wrap;
    }
    .left > div, .right > div {
        width: 50%;
        font-size: 13px;
    }
    .left{
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    .right{
        color: #c09fe4;
        font-family: 'Asar', serif;
    }
    .border-right{
        padding: 0 0 0 2em;
        border-left: 1px solid;
    }
    .bottom{
        width: 100%;
        text-align: right;
        font-size: 12px;
        padding: 5em 0 6em;
        color: #c09fe4;
        border-top: 1px solid;
        margin-top: 5em;
    }
}