.pre-survey-wrapper, .ad-container{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255, 0.85);
}

.pre-inner{
    width: 600px;
    background: #fff;
    border: 1px solid currentColor;
    padding: 20px;
    margin: 0 auto;
}

.pre-survey > div{
    margin-bottom: 20px;
}
.pre-survey button {
    width: 100%;
    background: #505fff;
    -webkit-appearance: none;
    color: #fff;
    padding: 1em;
    border: none;
    box-shadow: 2px 2px 2px -2px #000;
    position: relative;
}

.pre-survey button:active{
    box-shadow: none;
    top: 3px;
}

.pre-survey .input-area{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 12px;
}

.yes-or-no{
    width: 100px;
}

.ad-container .inner{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    background: #fff;
    border: 1px solid currentColor;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}
.timer{
    position: absolute;
    top: -32px;
    border: 1px solid;
    left: -1px;
    background: #fff;
    padding: 3px 4px;
}
.ad-close{
    display: none;
    position: absolute;
    right: -10px;
    background: black;
    border-radius: 50%;
    top: -10px;
    color: #fff;
    height: 23px;
    width: 23px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.ad-container .ad-content{
    width: 100%;
}
.ad-container .yes-map{
    width: 60%;
}
.ad-container #map{
    width: 40%;
}

.ad-container{
    display: none;
}
.click-ad, .wrong-ad{
    cursor: pointer;
}
